.ocean {
    background-image: url("../imgs/ocean.jpg");
    width: 900px;
    height: 700px;
    z-index: 0;
}

.players {
    .player {
        width: 70px;
        height: 75px;
        position: absolute;
        background-image: url("../imgs/player.png");
        z-index: 2;
        top: 625px;
        left: 450px;
    }
}

.enemies {
    height: 75px;
    top: 100px;
    left: 300px;
    margin-top: 25px;
    .enemy {
        position: absolute;
        background-image: url("../imgs/enemy.png");
        width: 70px;
        height: 75px;
        z-index: 2;
        top: 25px;
    }
}